 //Paleta de colores

 $colors:(
   primary: hsl(217, 30%, 17%),
   secondary: hsl(218, 84%, 45%),
   secondary-hover: hsl(218, 100%, 34%),
   bg-container: hsl(240, 3%, 93%),
   bg-item: hsl(0, 0%, 100%),
   primary-dark: hsl(220, 39%, 14%),
   footer: hsl(228, 11%, 18%),
   footer-text: hsl(221, 7%, 54%),
   logo: hsl(10, 82%, 50%),
   hbo: hsl(200, 72%, 50%)
 );


 
//  $colors:(
//    primary-light: hsl(211, 23%, 26%),
//    secondary: hsla(18, 90%, 53%, 0.9),
//    hbo: hsl(200, 72%, 50%),
//    logo: hsl(10, 82%, 50%),
//    cta: hsl(18, 90%, 53%),
//    bg-header: hsl(219, 37%, 17%),
//    bg-body: hsl(120, 9%, 89%),
//    bg-main: hsl(211, 23%, 26%),
//    bg-services: hsl(183, 85%, 21%),
//    bg-form: hsl(220, 38%, 85%),
//    bg-footer: hsl(219, 37%, 17%), 
//    btn-cta: hsl(18, 90%, 53%),
//    btn-cta-darken: hsla(18, 90%, 53%, 0.9),
//    btn-alert: hsl(4, 59%, 47%),
//    btn-alert-darken: hsla(4, 59%, 47%, 0.5),
//    btn-contact: hsl(145, 56%, 43%),
//    btn-contact-darken: hsla(145, 56%, 43%, 0.502),
//    btn-hover: hsla(219, 37%, 17%, 0.5),
//    small: hsl(0, 96%, 46%),
//    medium: hsl(120, 97%, 46%),
//    large: hsl(59, 95%, 49%),
//    x-large: hsl(303, 97%, 46%)  
// );