  // Mixins

  // Mixin básico, si lleva valores, los predeterminados van al final

  @mixin button-ejemplo($line-height,$font-size,$display:inline-block){
    //codigo ejemplo
    display: $display;
    line-height: $line-height;
    font-size: $font-size;
    padding: 0 1rem;
  }

  // ejemplo de uso
  .button-ej{
    @include button-ejemplo(3,1rem);
    &-small{
      @include button-ejemplo(2.5,0.8rem);
    }
  }

  // Mixin con selectores adentro

  @mixin nada($padding,$header-font,$header-color){
    display: block;
    padding: $padding;
    header{
      font-family: $header-font;
      color: $header-color;
    }
  }

  // ejemplo de uso

  .nada{
    @include nada(1em,Arial,blue);
  }

  // Mixin con múltiples argumentos

  @mixin multiple($box-shadow...){
    box-shadow: $box-shadow;
  }

  // ejemplo de uso

  .box{
    @include multiple(1px solid red, 2px solid blue, 5px solid white);
  }