[data-anime]{
	opacity: 0;
	transition: transform .4s, opacity .4s;
}

[data-anime="latI"]{
	transform: translate3d(-100px, 0, 0);
}

[data-anime="latD"]{
	transform: translate3d(100px, 0, 0);
}

[data-anime="medio"]{
	transform: translate3d(-100px, 0, 0);
	@include mq($medium){
		transform: translate3d(100px, 0, 0);
	}
}

[data-anime="segunda"]{
	transform: translate3d(100px, 0, 0);
	@include mq($medium){
		transform: translate3d(0, 100px, 0);
	}
}

[data-anime="cuarta"]{
	transform: translate3d(100px, 0, 0);
	@include mq($medium){
		transform: translate3d(-100px, 0, 0);
	}
}

[data-anime="quinto"]{
	transform: translate3d(-100px, 0, 0);
	@include mq($medium){
		transform: translate3d(0, 100px, 0);
	}
}

[data-anime].animate{
	opacity: 1;
	transform: translate3d(0, 0, 0);
}