.error{
	padding: 4rem $gutter-item;
	background-color: color(primary);
	text-align: center;
	&-title{
		padding-top: $gutter-item;
		color: color(secondary);
		text-align: center;
		@include mq($large){
			font-size: $error;
		}
	}
	&-subtitle{
		text-align: center;
		color: white;
		font-size: 1.3rem;
		@include mq($large){
			font-size: 1.5rem;
		}
	}
	&-main{
		display: flex;
		width: 80%;
		margin: auto;
		align-items: center;
		justify-content: center;
		& p{
			font-size: 15vw;
			color: color(logo);
		}
		& img{
			width: 28%;
		}
	}
	&-text{
		text-align: center;
		color: white;
	}
}

.error :nth-child(1){
	right: -1rem;
}