.cajaerror{
	width: 100%;
	padding-top: $top-header;
	background-color: color(bg-container);
}

.error{
	width: 90%;
	margin: $gutter auto;
	padding: 4rem $gutter-item;
	background-color: color(bg-item);
	text-align: center;
	&-title{
		padding-top: $gutter-item;
		color: color(logo);
		font-family: $primary-font;
		text-align: center;
		@include mq($large){
			font-size: $error;
		}
	}
	&-subtitle{
		text-align: center;
		font-family: $secondary-font;
		color: color(prymary-dark);
		font-size: 1.3rem;
		@include mq($large){
			font-size: 1.5rem;
		}
	}
	&-main{
		display: flex;
		width: 80%;
		margin: auto;
		align-items: center;
		justify-content: center;
		& p{
			font-size: 15vw;
			color: color(logo);
		}
		& img{
			width: 28%;
		}
	}
	&-text{
		font-family: $secondary-font;
		text-align: center;
		color: color(prymary-dark);
	}
}

.error :nth-child(1){
	right: -1rem;
}