.banner{
	@include banner(img('banner-mobile.jpg'));
	@include mq($medium){
		@include banner(img('banner.jpg'));
	}
	&-logo,
	&-subtitle,
	& a{
		font-size: 1rem;
		font-weight: 400;
		position: relative;
		color: white;
	}
	&-logo{
		width: 40vw;
		margin-bottom: $gutter;
		@include mq($medium){
			width: 20vw;
			margin-bottom: 0;
		}
		@include mq($large){
			width: 13vw;
		}
	}
	&-subtitle{
		padding: 0 $gutter $gutter;
		font-size: 1.5rem;
		margin-bottom: $gutter;
		@include mq($medium){
			width: 60%;
			font-size: 1.2rem;
			margin-bottom: 0;
		}
		@include mq($large){
			width: 30%;
			font-size: 1.5;
			font-weight: 300;
		}
	}
	& a{
		font-size: 1rem;
		@include mq($medium){
			font-size: .9rem;
			margin-top: 1.5rem;
		}
	}
}

.banner-title{
	@include banner-title(1.2rem);
	@include mq($medium){
		@include banner-title(1.7rem);
	}
}