.post{
	flex: 1 1 100%;
	max-width: $max-width;
	background-color: color(bg-container);
	margin: 0 .5rem;
	margin-bottom: .5rem;
	// border: 3px solid red;
	@include mq($medium){
		flex: 0 0 68%;
		margin: 0;
		margin-left: .5rem;
	}
	@include mq($medium-large){
		margin: 0;
		margin-right: .5rem;
	}
	&-item{
		width: 100%;
		margin: auto;
		background-color: color(bg-item);
		box-shadow: $shadow-flat;
		// border: 1px solid blue;
	}
	&-title{
		width: 80%;
		margin: auto;
		text-align: center;
		padding: $gutter-item 0;
		border-bottom: 1px solid color(hbo);
		font-family: $primary-font;
		font-size: 1.2rem;
		color: color(primary-dark);
		@include mq($small){
			width: 50%;
			font-size: 1.5rem;
		}
		@include mq($medium){
			width: 40%;
			border-bottom: 1px solid transparent;
		}
		@include mq($large){
			width: 25%;
		}
	}
	&-img{
		width: 100%;
		max-width: 100%;
		padding: .5rem;
		@include mq($small){
			padding-top: 0;
		}
		@include mq($medium){
			padding: $gutter;
			padding-top: 0;
		}
		@include mq($large){
			height: 400px;
			overflow: hidden;
		}
	}
	&-content{
		padding: $gutter-item;
		font-family: $secondary-font;
		font-size: .9rem;
		letter-spacing: 2px;
		@include mq($small){
			font-size: 1rem;
			padding: $gutter-item;
		}
		@include mq($medium){
			padding: $gutter;
		}
		@include mq($large){
			padding: $gutter-large;
		}
	}
	&-autor{
		padding: $gutter-item;
		font-family: $primary-font;
		font-size: 1rem;
		@include mq($small){
			padding: $gutter;
		}
		@include mq($large){
			padding: $gutter $gutter-large;
		}
	}
}

//estilos si no hay entradas(para content o content-posts)

.c-empty{
	display: flex;
	width: 90vw;
	height: 500px;
	margin: $gutter auto;
	justify-content: center;
	align-items: center;
	padding: $gutter-large;
	background-color: color(bg-item);
	color: color(primary-dark);
	font-family: $primary-font;
	font-size: $big-title;
	box-shadow: $shadow-flat;
	@include mq($medium){
		width: 95vw;
	}
}



//Estilos para comentarios

#comments-evolved-tabs{
	position: relative;
	top: 10%;
	@include mq($movil1){
		width: 90%;
		left: 5%;
	}
	@include mq($movil4){
		top: 7%;
		left: 5%;
	}
	@include mq($medium){
		left: 3%;
	}
	@include mq($large){
		width: 80%;
		top: 5%;
		left: 7%;
	}	
	@include mq($medium-large){
		top: 10%;
		left: 5%;			
	}
}

.fb-comments{
	width: 100%;
	& span{
		width: 100% !important;
		& iframe{
			@include mq($movil4){
				width: 100%;
			}
		}
	}
}

