.c-blog{
	display: block;
	flex: 1 1 100%;
	max-width: $max-width;
	margin: auto;
	height: auto;
	background-color: color(bg-container);
	// border: 3px solid red;
	@include mq($medium){
		margin-left: .5rem;
		flex: 0 0 68%;
		margin-bottom: -1rem;
	}
	@include mq($large){
		margin-bottom: -3rem;
	}
	@include mq($medium-large){
		flex: 0 0 70%;
		margin: 0;
		margin-right: .5rem; 
	}
}

// Contenido del blog

.content-blog{
	display: flex;
	width: 95%;
	margin: auto;
	flex-wrap: wrap;
	background-color: transparent;
	// border: 3px solid gold;
	@include mq($medium){
		display: grid;
		width: 100%;
		margin: 0;
		grid-gap: .25rem;
		grid-template-columns:  1fr 1fr;
	}
	@include mq($large){
		margin: 0;		
	}
	&-item{
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 100%;
		margin: auto;
		justify-content: center;
		align-items: center;
		margin-bottom: $gutter-item;
		padding: $gutter;
		box-shadow: $shadow-flat;
		background-color: color(bg-item);
		// border: 1px solid green;
		@include mq($medium){
			margin: 0;
			// margin-bottom: 5px;
		}
		&-extracto{
			display: flex;
			flex-wrap: wrap;
			padding-top: $gutter-item;
			width: 100%;
			font-family: $secondary-font;
			color: black;
			// border: 1px solid blue;
			@include mq($medium){
				padding: $gutter-item $gutter 0;
			}
			& a{
				width: 100%;
				color: inherit;
			}
			& small{
				display: block;
				width: 45%;
				margin-left: 55%;
				margin-top: $gutter-item;
				padding: .3rem;
				font-family: $secondary-font;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-size: .8rem;
				color: white;
				background-color: color(secondary);
				line-height: 2;
				cursor: pointer;
				@include mq($medium){
					width: 70%;
					margin-left: 0;
					float: right;
					padding: .2rem;
					margin-bottom: .5rem;
				}
				@include mq($medium-large){
					width: 40%;
				}
				&:hover{
					background-color: color(secondary-hover);
				}
				&:active{
					transform: scale(.95);
				}
			}
		}
		&-date{
			width: 100%;
			font-size: .9rem;
			color: black;
			@include mq($medium){
				margin-left: $gutter;
			}
		}
	}
	&-figure{
		--opacidad: .7;
		--color-text: white;
		position: relative;
		width: 100%;
		// border: 2px solid red;
		&::before{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: color(primary);
			opacity: var(--opacidad);
		}
		&:hover{
			--opacidad: 0;
			--color-text: transparent;
		}
		&-img{
			width: 100%;
			height: auto;
			// border: 1px solid red;
		}
		&-title{
			position: absolute;
			top: 25%;
			width: 100%;
			padding: $gutter-item;
			font-family: $primary-font;
			font-size: 1.5rem;
			text-align: center;
			z-index: 1;
			color: var(--color-text);
		}
	}
}

//Paginación

.paginacion{
	font-family: $secondary-font;
	display: block;
	text-align: center;
}

.wp-pagenavi{
	text-align: center;
	& a{
		border: none !important;
		color: color(secondary);
	}
	& .nextpostslink, .previouspostslink{
		font-size: 1.7rem;
	}
}

.wp-pagenavi .pages{
	display: none;
	margin-top: 1rem;
	@include mq($medium){
		display: block;
		border: none !important;
		font-size: 1.2rem;
	}
}

.current{
	font-size: 1.5rem;
	padding: 5rem;
	border: none !important;
}

//Fin paginación