.post{
	max-width: $max-width;
	margin: auto;
	&-item{
		width: 90%;
		margin: auto;
	}
	&-title{
		width: 90%;
		margin: $gutter auto;
		text-align: center;
		padding-bottom: .5rem;
		border-bottom: 1px solid color(primary);
		font-size: 1.5rem;
		color: black;
	}
	&-img{
		max-width: 100%;
	}
	&-content{
		background-color: whitesmoke;
		padding: $gutter;
	}
	&-autor{
		font-size: 1.2rem;
	}
}

//Estilos para comentarios, no los toma
#comments-evolved-tabs{
	width: 90% !important;
	margin: auto;
	border: 1px solid red;
}

