.c-blog{
	display: block;
	flex: 1 1 100%;
	max-width: $max-width;
	margin: auto;
	height: auto;
	background-color: color(bg-container);
	border: 3px solid red;
}

// Contenido del blog

.content-blog{
	display: flex;
	width: 95%;
	margin: auto;
	flex-wrap: wrap;
	background-color: color(bg-container);
	// border: 1px solid red;
	@include mq($medium){
		display: grid;
		grid-template-columns: 0 1fr 5px 1fr;
	}
	@include mq($large){
		grid-template-columns: 0 1fr 5px 1fr 5px 1fr;
	}
	&-item{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: auto;
		justify-content: center;
		align-items: center;
		margin-bottom: $gutter-item;
		padding: $gutter;
		box-shadow: $shadow-flat;
		background-color: color(bg-item);
		// border: 1px solid green;
		@include mq($medium){
			margin: 0;
			margin-bottom: 5px;
		}
		&-img{
			width: 100%;
			height: auto;
			// border: 1px solid red;
		}
		&-title{
			width: 100%;
			padding: $gutter-item $gutter-item 0;
			font-family: $primary-font;
			font-size: 1.5rem;
			text-align: center;
			color: color(primary-dark);
			border-bottom: 1px solid color(hbo);
		}
		&-extracto{
			display: flex;
			flex-wrap: wrap;
			padding-top: $gutter-item;
			width: 100%;
			font-family: $secondary-font;
			color: black;
			// border: 1px solid blue;
			@include mq($medium){
				padding: $gutter-item $gutter 0;
			}
			& a{
				width: 100%;
				color: inherit;
			}
			& small{
				display: block;
				width: 45%;
				margin-left: 55%;
				margin-top: $gutter-item;
				padding: .3rem;
				font-family: $secondary-font;
				text-align: center;
				letter-spacing: 2px;
				text-transform: uppercase;
				font-size: .8rem;
				color: white;
				background-color: color(secondary);
				line-height: 2;
				cursor: pointer;
				&:hover{
					background-color: color(secondary-hover);
				}
				&:active{
					transform: scale(.95);
				}
			}
		}
		&-date{
			width: 100%;
			font-size: .9rem;
			color: black;
			@include mq($medium){
				margin-left: $gutter;
			}
		}
	}
}

//Paginación

.paginacion{
	font-family: $secondary-font;
	display: block;
	text-align: center;
}

.wp-pagenavi{
	text-align: center;
	& a{
		border: none !important;
		color: color(secondary);
	}
	& .nextpostslink, .previouspostslink{
		font-size: 1.7rem;
	}
}

.wp-pagenavi .pages{
	display: none;
	@include mq($medium){
		display: block;
		border: none !important;
		font-size: 1.2rem;
	}
}

.current{
	font-size: 1.5rem;
	padding: 5rem;
	border: none !important;
}

//Fin paginación