.c-destacados{
	--colorbg: white;
	--colort: #151f31;
	--colori: #239edb;
	--colorp: black;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: $gutter-item;
	background-color: color(bg-container);
	&::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// background: color(primary);
		// opacity: .7;
	}
	@include mq($medium){
		padding: $gutter;
		background-position: 50% 25%;
	}
	@include mq($large){
		padding: $gutter $gutter-large;
	}
	&-title{
		display: block;
		width: 100%;
		position: relative;
		z-index: z-index(capa2);
		margin: 0 auto $gutter auto;
		text-align: center;
		@include mq($medium){
			width: 100%;
		}
		& span{
			font-family: $primary-font;
			font-weight: $normal;
			font-size: $title;
			color: color(primary-dark);
			border-bottom: 1px solid color(hbo);
		}
	}
	&-item{
		position: relative;
		z-index: z-index(capa4);
		display: flex;
		text-align: center;
		background-color: var(--colorbg);
		box-shadow: $shadow-flat;
		margin-bottom: $gutter-item;
		transition: all .3s;
		&:hover{
			--colorbg: #239edb;
			--colort: white;
			--colori: white;
			--colorp: white;
			background-color: var(--colorbg);
		}
		@include mq($medium){
			margin-top: $gutter;
			width: 30%;
			flex: 1 1;
			margin-right: 3px;
		}
		@include mq($large){
			margin-right: 0;
			justify-content: space-between;
		}
	}
	&-item:nth-child(odd){
		margin-left: 1.5rem;
	}
}

.adaptable{
	@include mq($large){
		margin-left: 1.5rem;
	}
}

.aside-inicio{
	margin-bottom: 1px;
   padding: $gutter;
	//background-color: color(bg-main);
	@include mq($medium){
		margin-bottom: 0;
		padding: 1rem;
	}
	& span{
		color: var(--colori);
		margin-left: rem(16px);
		font-size: rem(32px);
	}
	& h3{
		padding: rem(6px) 0;
		font-family: $primary-font;
		font-weight: 300;
		color: var(--colort);
	}
	& p{
		font-family: $secondary-font;
		color: var(--colorp);
		line-height: 1.5;
	}
}

.destacados-servicios{
	display: block;
	width: 100%;
	@include mq($medium){
		flex: 1 1 45%;
	}
}