.main-header {
	display: flex;
	position: fixed;
	z-index: z-index(capa7);
	justify-content: space-between;
	align-items: center;
	width: 100%;
	left: 0;
	top: 0;
	height: $top-header;
	line-height: $top-header;
}

.logo-container{
  display: flex;
  width: 85%;
  margin-left: $gutter;
  height: $top-header;
  line-height: $top-header;
  justify-content: center;
  align-items: center;
//   border: 3px solid red;
  @include mq($medium){
	  width: 30%;
	  justify-content: flex-start;
  }
  &-text{
	  color: color(bg-item);
	  font-size: 1.5rem;
	  font-weight: $bold;
	  transform: translate(10%, 120%);
	  transition: all .3s ease;
	  &:hover{
		  color: color(hbo);
	  }
	  @include mq($movil1){
		  font-size: 1.7rem;
	  }
	  @include mq($movil3){
		  transform: translate(12%, 70%);
	  }
	  @include mq($medium){
		  transform: translate(0, 0);
		  margin-left: 0;
		//   border: 1px solid red;
		}
	}
}

// estilos para funcion scroll

.header-color{
	background-color: color(primary);
}

.logo-onScroll{
	width: 100%;
	justify-content: flex-start;
	@include mq($medium){
		width: 30%;
	}
}

.logo-text-onScroll{
	transform: translate(0, 0);
	margin-left: 0;
	transition: all .3s ease;
}

//Fin estilos para funcion scroll

.icon-menu {
	display: block;
	position: relative;
	float: right;
	margin-right: $gutter;
	color: color(hbo);
	font-size: 1.8rem;
	z-index: z-index(capa3);
	cursor: pointer;
	&::before{
		margin: 0;
	}
	@include mq($medium){
		display: none;
	}
}

.container-nav{
	position: fixed;
	display: flex;
	background-color: color(primary);
	top: rem(0px);
	right: -$off-canvas;
	width: $off-canvas;
	height: 100vh;
	padding: 1rem;
	padding-top: $top-header;
	z-index: z-index(capa2);
	transition: all .4s;
	border: 3px solid yellow;
	@include mq($small){
		//border: 3px solid color(small);
	}
	&.mostrar{
		right: 0;
	}
	@include mq($medium){
		background-color: transparent;
		right: 0;
		width: 60%;
		padding: 0 .5rem 0 0;
		height: auto;
		position: static;
		// border: 1px solid red;
	}
}

//ul
.menu{
	padding-left: 0;
	list-style: none;
	@include mq($medium){
		width: 100%;
		display: flex;
		// border: 1px solid red;
	}
}

.container-nav li{
	border-bottom: 1px solid color(hbo);
	@include mq($medium){
		flex: auto;
		border-bottom: none;
		margin-right: .5rem;
		text-align: center;
		&:last-child{
			margin-right: 0;
		}
	}
}

.container-nav a{
	display: block;
	line-height: $top-header;
	position: relative;
	text-transform: uppercase;
	color: white;
	font-family: $primary-font;
	font-weight: $normal;
	letter-spacing: 2px;
	@include mq($large){
		font-size: 1.2rem;
	}
}

.container-nav a:hover{
	transition: all .3s;
	// width: 90%;
	// left: 5px;
	@include mq($medium){
		//color: color(secondary-hover);
		background-color: color(logo);
	}
}