.main-header {
	display: flex;
	position: fixed;
	z-index: 999;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	left: 0;
	top: 0;
	height: rem(50px);
	line-height: rem(50px);
	@include mq($medium){
		justify-content: space-between;
		padding-top: rem(5px);
  }
}

.logo-container{
  display: flex;
  width: 40%;
  margin-left: $gutter;
  height: rem(50px);
  line-height: rem(50px);
}

.logo-container a{
	color: color(btn-cta-darken);
	font-family: 'Roboto', sans-serif;
	font-size: 5.5vw;
	font-weight: 400;
	@include mq($medium){
		font-size: 1.5rem;
  }
}

.header-color{
	background-color: color(bg-header);
}

.icon-menu {
	display: block;
	position: relative;
	float: right;
	margin-right: $gutter;
	color: white;
	font-size: 1.8rem;
	z-index: 210;
	cursor: pointer;
	&::before{
		margin: 0;
	}
	@include mq($medium){
		display: none;
	}
}

.container-nav{
	position: fixed;
	display: flex;
	background-color: color(bg-footer);
	top: rem(0px);
	right: -$off-canvas;
	width: $off-canvas;
	height: 100vh;
	padding: 1rem;
	padding-top: rem(48px);
	z-index: 200;
	transition: all .4s;
	@include mq($small){
		//border: 3px solid color(small);
	}
	&.mostrar{
		right: 0;
	}
	@include mq($medium){
		background-color: transparent;
		right: 0;
		width: 55%;
		padding: 0 .5rem 0 0;
		height: auto;
		position: static;
	}
}

.menu{
	padding-left: 0;
	list-style: none;
	@include mq($medium){
		width: 100%;
		display: flex;
	}
}

.container-nav li{
	border-bottom: 1px solid color(hbo);
	@include mq($medium){
		flex: auto;
		border-bottom: none;
		margin-right: .5rem;
		text-align: center;
		&:last-child{
			margin-right: 0;
		}
	}
}

.container-nav a{
	display: block;
	line-height: 3;
	position: relative;
	text-transform: uppercase;
	color: white;
	font-family: $main-font;
	font-weight: $light;
	// &:before{
	// 	content: "";
	// 	display: block;
	// 	position: absolute;
	// 	width: 0;
	// 	margin: auto;
	// 	height: 1px;
	// 	background: color(hbo);
	// 	left: 50%;
	// 	bottom: .5rem;
	// 	transition: all .3s;
	// }
}

.container-nav a:hover{
	background-color: color(btn-cta-darken);
	transition: all .3s;
	// width: 90%;
	// left: 5px;
}