.ofertas{
	background-color: color(bg-container);
	// border: 2px solid red;
}

.c-ofertas{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: auto;
	margin-top: .5rem;
	// border: 2px solid green;
	@include mq($movil3){
		width: 90%;
	}
	@include mq($m-small){
		width: 100%;
	}
	@include mq($medium){
		padding: $gutter 0;
		width: 95%;
	}
	&-item{
		background-color: color(bg-item);
		// border: 3px solid blue;
		flex: auto;
		margin-bottom: $gutter-item;
		box-shadow: $shadow-flat;
		@include mq($movil1){
			margin: 0 .5rem .5rem;
		}
		@include mq($m-small){
			display: flex;
			flex: 1 0 28%;
			flex-direction: column;
			justify-content: space-between;
			margin: 0;
		}
		@include mq($medium){
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1 0 30%;
		}
		&:nth-child(2){
			@include mq($m-small){
				margin-left: .5rem;
				margin-right: .5rem;
			}
		}
		&-title{
			text-align: center;
			padding: $gutter-item;
			background-color: color(secondary-hover);
			font-size: 2rem;
			letter-spacing: 2px;
			color: white;
			@include mq($m-small){
				font-size: 1.2rem;
			}
			@include mq($medium){
				font-size: 1.5rem;
			}
		}
		&-price{
			width: 90%;
			margin: .3rem auto;
			text-align: center;
			font-family: $secondary-font;
			align-self: flex-start;
			font-size: 1.8rem;
			letter-spacing: 1.5px;
			// border: 1px solid red;
			@include mq($m-small){
				margin-top: .5rem;
				font-size: 1.5rem;
			}
			@include mq($medium){
				font-size: 1.5rem;
			}
			& span{
				font-size: .9rem;
				@include mq($medium){
					font-size: .8rem;
				}
			}
		}
		&-detail{
			padding: .3rem;
			// border: 1px solid green;
			@include mq($large){
				width: 70%;
				margin: auto;
			}
		}
		&-detail li{
			padding: .3rem 0;
			font-family: $secondary-font;
			list-style: disc inside;
			text-indent: 3px;
			@include mq($m-small){
				text-indent: 2px;
				font-size: .7rem;
			}
			@include mq($medium){
				font-size: .9rem;
			}
		}
		&-footer{			
			padding: $gutter-item;
		}
		&-footer p{
			font-family: $secondary-font;
			font-size: .9rem;
			@include mq($m-small){
				font-size: .7rem;
			}
		}
	}
	&-item:last-child{
		@include mq($medium){
			margin-right: 0;
		}
	}
}

.boton-ofertas{
	width: 70%;
	background-color: color(logo);
	margin: 0 auto;
	text-align: center;
	align-self: flex-end;
	@include mq($movil1){
		width: 60%;
	}
	@include mq($movil2){
		width: 50%;
	}
	@include mq($m-small){
		width: 90%;
		font-size: .7rem;
	}
	@include mq($medium){
		width: 80%;
	}
	@include mq($large){
		margin: $gutter-item auto;
		width: 50%;
	}
	&:hover{
		background-color: color(logo-light);
	}
}