.c-search{
	display: block;
	width: 100%;
	padding: $gutter;
	text-align: center;
	background-color: color(secondary);
	font-size: $title;
	color: white;
	// border: 1px solid red;
	& span{
		text-transform: uppercase;
		font-weight: 500;
		color: white;
	}
}